# Verificação Casos de Uso

| Data | Versão | Descrição | Autor |
| --- | --- | --- | --- |
| 30/10/2019 | 1.0 | Criação do documento de Verificação dos Casos de Uso  | [Caio Fernandes](https://github.com/caiovfernandes) |

## Rastreabilidade

[**Casos de Uso**](/docs/modeling/user_cases/user_cases.md)

## Checklist de verificação

1. O caso de uso organiza requisitos funcionais?
* Traz valor observável e contexto, organizados de acordo com a visão do usuário?
* Descreve o que a funcionalidade deve fazer, expressando os passos interativos que o usuário deve performar para alcançar um resultado de valor?
* Traz um diagrama de fluxos textual, especificando ações no fluxo?
* O diagrama textual define como as partes dos casos de uso se encaixam?
* Possui um fluxo principal único e vários fluxos alternativos ?
* Usa de referencias para explicitar o começo e o fim de um fluxo alternativo, referenciando um passo específico dentro do fluxo principal ou alternativo ?
* Referencias ocorrem apenas no fluxo secundário?
* Ator escolhe um caminho como fluxo principal e os outros são fluxos secundários?

## Possíveis erros que podem ser encontrados

![Fagan errors](https://user-images.githubusercontent.com/40740008/67889473-b1681800-fb2d-11e9-9417-8b0d5289b154.jpg)


## Resultado

![Scenario result](https://user-images.githubusercontent.com/42192251/68148460-cd4b2f80-ff1a-11e9-9774-5efae9b74251.jpg)

Clique [**aqui**](https://user-images.githubusercontent.com/42192251/68148460-cd4b2f80-ff1a-11e9-9774-5efae9b74251.jpg) para ver a imagem em um tamanho melhor


## Gráficos dos resultados

<div class="row">
  <div class="column">
    <img width="640" alt="1" src="https://user-images.githubusercontent.com/42192251/68149651-0a182600-ff1d-11e9-942f-061cc32dd7da.png">
    <img width="640" alt="2" src="https://user-images.githubusercontent.com/42192251/68149652-0a182600-ff1d-11e9-9f5e-d6e93bb223e2.png">
  </div>
</div>
<br>
<div class="row">
  <div class="column">
    <img width="640" alt="3" src="https://user-images.githubusercontent.com/42192251/68149653-0a182600-ff1d-11e9-9759-f87554d23613.png">
    <img width="640" alt="4" src="https://user-images.githubusercontent.com/42192251/68149655-0a182600-ff1d-11e9-8765-61a83dcec20f.png">
  </div>
</div>
<br>
<div class="row">
  <div class="column">
    <img width="640" alt="5" src="https://user-images.githubusercontent.com/42192251/68149656-0ab0bc80-ff1d-11e9-9da4-5b18b515940c.png">
    <img width="640" alt="6" src="https://user-images.githubusercontent.com/42192251/68149657-0ab0bc80-ff1d-11e9-84c9-31d76649b440.png">
  </div>
</div>
<br>
<div class="row">
  <div class="column">
    <img width="640" alt="7" src="https://user-images.githubusercontent.com/42192251/68149658-0ab0bc80-ff1d-11e9-8eff-dd5f789c2599.png">
    <img width="640" alt="8" src="https://user-images.githubusercontent.com/42192251/68149661-0ab0bc80-ff1d-11e9-9aa7-22af86617e15.png">
  </div>
</div>
<br>
<div class="row">
  <div class="column">
    <img width="640" alt="9" src="https://user-images.githubusercontent.com/42192251/68149662-0b495300-ff1d-11e9-83fb-9c5ebea4bd75.png">
    <img width="640" alt="10" src="https://user-images.githubusercontent.com/42192251/68149663-0b495300-ff1d-11e9-8f4e-2a30f4a4d36d.png">
  </div>
</div>
<br>

## Referências

* [1] James Heumann, IBM Rational Software. Tips for writing good use cases. Disponível em : [ftp.software.ibm.com/software/rational/web/whitepapers](http://ftp.software.ibm.com/software/rational/web/whitepapers/RAW14023-USEN-00.pdf). Acesso em 28 de outubro de 2019.

* [2] Marilyn Bush, Chris Gerrard, Clifford Shelley. Fagan Inspection: The Silver Bullet No-one Wants to Fire. Disponível em: [http://www.osel.co.uk/presentations/fitsbnwtf.pdf](http://www.osel.co.uk/presentations/fitsbnwtf.pdf). Acesso em 28 de outubro de 2019.


<!DOCTYPE html>
<html>
<head>
<style src='docs/docs/assets/css/table.css'>
table {
  width: 100%;
}
</style>
<link rel="stylesheet" href="docs/assets/css/table.css">
</head>
</html> 