# Verificação
- [<h3>NFR</h3>](/docs/verification/NFR/NFR.md)
- [<h3>Cenários</h3>](/docs/verification/scenario/scenario.md)
- [<h3>Rich Pictures</h3>](docs/verification/rich_picture/rich_picture.md)
- [<h3>Especificação Suplementar</h3>](docs/verification/supplementary_specification/supplementary_specification.md)