# Verificação
- [<h3>NFR</h3>](/docs/verification/NFR/NFR.md)
- [<h3>Cenários</h3>](/docs/verification/scenario/scenario.md)