table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  table {
   border-collapse: collapse;
  }
  th, tr, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  td:nth-child(2), th:nth-child(1) {
      border-left: solid 1px silver;
  }
  td:nth-child(3), th:nth-child(1) {
      border-left: solid 1px silver;
  }
  td:nth-child(4), th:nth-child(1) {
      border-left: solid 1px silver;
  }
td:nth-child(5), th:nth-child(1) {
    border-left: solid 1px silver;
}
td:nth-child(6), th:nth-child(1) {
    border-left: solid 1px silver;
}
td:nth-child(7), th:nth-child(1) {
    border-left: solid 1px silver;
}
td:nth-child(8), th:nth-child(1) {
    border-left: solid 1px silver;
}
td:nth-child(9), th:nth-child(1) {
    border-left: solid 1px silver;
}
td:nth-child(10 ), th:nth-child(1) {
    border-left: solid 1px silver;
}